<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathToFiles" value="C:\Soft\НПО\DataFlowTest"/>
    <add key="OutputPath" value="C:\Soft\НПО\DataFlowOutput"/>
    <add key="InputParallelismDegree" value="4"/>
    <add key="OutputParallelismDegree" value="4"/>
    <add key="ProcessingParallelismDegree" value="4"/>
  </appSettings>
</configuration>